@use "../global" as g;
@use "reset";

@function vw($pixel) {
  $viewport: 1920; // 基準となるビューポート
  @return ($pixel / $viewport * 100vw);
}

@function fontSize($maxFont) {
  $minWidth: 980;
  $maxWidth: 1920;
  $maxFontSize: $maxFont * 1px;
  $fontVw: round($maxFont/$maxWidth * 100 * 1000) / 1000;
  $minFontSize: round($minWidth * ($fontVw / 100)) * 1px;
  @return clamp(#{$minFontSize}, #{$fontVw}vw, #{$maxFontSize});
}

.container {
  .company_top {
    margin-top: 25px;
    position: relative;
    margin-bottom: vw(116);

    .company_img01 {
      position: absolute;
      top: 33%;
      left: 50%;
      transform: translate(-50%, -50%);
      img {
        width: vw(210);
        @include g.ph {
          width: 25vw;
        }
      }
    }
    .company_img02 {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include g.ph {
        top: 50%;
      }
      img {
        width: auto;
        @include g.ph {
          width: 80vw;
        }
      }
    }
    .company_img03 {
      margin: auto;
      img {
        width: vw(1840);
        margin: auto;
        display: block;
        @include g.ph {
          object-fit: cover;
          width: 100%;
          height: 300px;
        }
      }
    }
  }

  .company_text_main {
    width: vw(1280);
    margin: auto;
    margin-bottom: vw(186);
    @include g.ph {
      width: 90vw;
      margin-top: 50px;
      margin-bottom: 70px;
    }
    h2 {
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
        sans-serif;
      font-size: clamp(25px, 2.5vw, 50px);
      line-height: 1.8;
      color: #000000;
      font-weight: bold;
      letter-spacing: 0px;
      line-height: 1.6;
    }

    .company_about {
      margin-top: vw(69);
    }

    li {
      font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
        sans-serif;
      font-size: fontSize(26);
      font-weight: bold;
      line-height: 1.38;
      color: #000000;
      letter-spacing: 0px;
      width: 20vw;
      white-space: normal;
    }

    .c_topic {
      width: vw(260);
      padding-left: vw(20);
      @include g.ph {
        width: 25vw;
      }
    }

    .c_text {
      width: auto;
      @include g.ph {
        margin-left: 10px;
        width: 75vw;
      }
    }

    .c_about {
      display: flex;
      padding: 20px 0;
      border-bottom: 1px solid #000000;
    }

    .c_about4 {
      .letter_s {
        letter-spacing: 2px;
      }
    }

    .c_about5 {
      .c_text {
        line-height: 1.6;
      }
    }
  }
}

.sub-footer {
  width: 100%;
  img {
    width: vw(304);
    margin: auto;
    text-align: center;
    display: flex;
    margin-top: vw(80);
    margin-bottom: vw(80);
    min-width: 150px;
  }
}
